config easye4 'main'
	option enabled '0'
	option ip '192.168.1.100'
	option device_id 'easyE4'
	option auth_scheme 'Basic'
	option auth_user 'admin'
	option auth_pass 'admin'
	option interval '15000'
	
	# MQTT Settings
	option mqtt_enabled '0'
	option mqtt_broker '127.0.0.1'
	option mqtt_port '1883'
	option mqtt_topic 'easye4/data'
	option mqtt_user ''
	option mqtt_pass ''
	
	# Modbus Settings
	option modbus_mode 'none' # none, tcp, rtu
	option modbus_host '0.0.0.0'
	option modbus_port '5020'
	option modbus_serial '/dev/ttyUSB0'
	option modbus_baud '9600'
	option modbus_slave_id '1'
